.HomePage {
  /* border: 2px solid red; */
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 0px 5rem;
}
.NavBar {
  font-size: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("../../Image/BackGroundImage.jpg");
}

.main-container {
  /* border: 1px solid blue; */
  margin-top: 2rem;
  padding: 0px 5rem;
  display: flex;
}
.Articles {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
}

.Project-Image {
  /* border: 1px solid grey; */
  width: 50rem;
  height: 45rem;
  padding: 2rem;
}

.Project-Article-container {
  /* border: 1px solid yellow; */
  width: 55rem;
  height: 45rem;
  padding: 3rem 3rem;
  overflow-y: auto;
  /* background-image: url("../../Image/BackgdImage.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.Project-Article {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  color: white;
  list-style-type: decimal;
}

.colorstyle {
  color: yellow;
  font-size: 2.5rem;
  transition: color 0.5s, font-size 0.5s; /* Transition both color and font-size */
}
